<%- include("header") -%>

<link rel='stylesheet' href='/stylesheets/404.css'>

<div id="container">
  <div id="content">
    <p class="zero">ERROR</p>
    <p class="one"> 404 </p>
    <p class ="two"> Page Not Found </p>
    </div>
</div>

