<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
  </head>
  <body>
    <div class="login">
      <h2>Register</h2>
      <label>First Name</label>
      <input type="text" width="50" required="true" placeholder="First Name">
      <label>Last Name</label>
      <input type="text" required="true" placeholder="Last Name">
      <label>Username</label>
      <input type="text" required="true" placeholder="Username">
      <label>Email</label>
      <input type="email" required="true" placeholder="Email">
      <label>Password</label>
      <input type="password" required="true" placeholder="Password">
      <input class="submit "type="submit" value="Register">
    </div>
    <style>
      input{
        float: left;
        margin: 10px 0px 0px 0px;
        width: 100%;
        height: 3vh;
      }
      .login{
        margin-left: 20px;
        float: left;  
        width: 60%;
      }
      label{
        margin: 10px 0px 0px 0px;  
        float: left;
        font-weight: bold;
      }
      .submit{
        float: left;
        margin-top: 3%;  
        width: 100px;
      }
    </style>
    
    
    
  </body>
</html>