<%- include('header') -%>
<link rel="stylesheet" type="text/css" href="stylesheets/landing.css">
<link rel='stylesheet' href='/stylesheets/easter_egg.css' />
<script src="/javascripts/easterEgg.js"></script>

<div id="container">
  <div id="content">
    <h1 id='title'>Parked</h1>
    <h2 id='subtitle'>The only app you'll need for parking.</h2>
    <button id='btn'><a href='/login'>GET STARTED</a></button>
    <img class="car" src='/assets/blue_car.png'>
    <select data-option="character">
      <option value="💥"></option>
    </select>
    <div class="underbar"></div>
  </div>
</div>

<%- include('footer') -%>