<%- include('header') -%>
<link rel="stylesheet" type="text/css" href="stylesheets/landing.css">
<link rel='stylesheet' href='/stylesheets/easter_egg.css'/>
<script src="/javascripts/easterEgg.js"></script>

  <div id="container">
    <div id="content">
      <h1 id='title'>Parked</h1>
      <h2 id='subtitle'>The only app you'll need for parking.</h2>
       
      <button id='btn'><a href='/login'>GET STARTED</a></button>
      <img class="car" src='/assets/blue_car.png'>
      <select  data-option="character">
        <option value="💥"></option>
      </select>
          
      <section class="about_us">  
        <h1 class="header">About Us</h1>
        <div class="about_top">
          <div>
            <img class="estevan" src="/assets/estevan.jfif">
            <h4 class="name">Estevan</h4>
            <p>White shirt now red, my bloody nose
            Sleeping, you're on your tippy toes
            Creeping around like no one knows
            Think you're so criminal
            Bruises, on both my knees for you
            Don't say thank you or please
            I do what I want when I'm wanting to
            My soul? So cynical</p>
          </div>
          <div>
            <img class="steven" src="/assets/steven.jfif">
            <h4 class="name">Steven</h4>
            <p>White shirt now red, my bloody nose
              Sleeping, you're on your tippy toes
              Creeping around like no one knows
              Think you're so criminal
              Bruises, on both my knees for you
              Don't say thank you or please
              I do what I want when I'm wanting to
              My soul? So cynical</p>
          </div>
          <div>
            <img class="sherry" src="/assets/sherry.jfif">
            <h4 class="name">Sherry</h4>
            <p>White shirt now red, my bloody nose
              Sleeping, you're on your tippy toes
              Creeping around like no one knows
              Think you're so criminal
              Bruises, on both my knees for you
              Don't say thank you or please
              I do what I want when I'm wanting to
              My soul? So cynical</p>
          </div>
        </div>
        <div class="about_bottom">
          <div>
            <img class="john" src="/assets/john.jpg">
            <h4 class="name">John</h4>
            <p>White shirt now red, my bloody nose
              Sleeping, you're on your tippy toes
              Creeping around like no one knows
              Think you're so criminal
              Bruises, on both my knees for you
              Don't say thank you or please
              I do what I want when I'm wanting to
              My soul? So cynical</p>
          </div>
          <div>
            <img class="kush" src="/assets/kush3.jpg">
            <h4 class="name">Kush</h4>
            <p>White shirt now red, my bloody nose
              Sleeping, you're on your tippy toes
              Creeping around like no one knows
              Think you're so criminal
              Bruises, on both my knees for you
              Don't say thank you or please
              I do what I want when I'm wanting to
              My soul? So cynical</p>
          </div>
        </div>  
      </section>
    </div>
  </div>

<%- include('footer') -%>
