<%- include('header') -%>
<link rel="stylesheet" type="text/css" href="stylesheets/landing.css">

<div id="container">
        <div id="content">
          <h1 id='title'>Parked</h1>
              <h2 id='subtitle'>The only app you'll need for parking.</h2>
          
          <button id='btn'><a href='/login'>GET STARTED</a></button>
</div>

</div>

<%- include('footer') -%>
