<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='stylesheets/style.css' />
    <link rel='stylesheet' href='sass/color.css' />
  </head>
  <body>
    <h1><%= title %></h1>
  </body>
</html>
