<link rel='stylesheet' href='/stylesheets/navbar.css'>

<nav id='nav-bar'>
  <div id='brand' class='section'><a href="/">Parked</a></div>

  <% if (typeof user == 'undefined' || user == null) { %>
        <div id='login' class='section'>
          <a href="/login">Log In</a>
        </div>
        <div id='register' class='section'>
          <a href="/register">Register</a>
        </div>
  <% } else { %> 
        <div id='current-user' class='section'>
          <a href="/dashboard"> Hi, <%= userName.first_name %> </a>
        </div>
        <div id='dashboard' class='section'>
          <a href="/dashboard">Dashboard</a>
        </div>
        <div id='logout' class='section'>
          <a href="/auth/logout">Logout</a>
        </div>
      <% } %>
</nav>
