<%- include('header') -%>

<link rel='stylesheet' href='stylesheets/new_vehicle.css'/>

<div id="container">
  <div id="content">
    <form action="/vehicles" method="POST">
      <label>License Plate</label>
      <input name="license_plate">
      <label>Nickname</label>
      <input name="nickname">
      <label>Make/Brand</label>
      <input name="make">
      <input type="submit">
    </form>
  </div>
</div>

<%- include('footer') -%>