<%- include('header') -%>

<div>
  <form action="/vehicles" method="POST">
    <label>License Plate</label>
    <input name="license_plate">
    <label>Nickname</label>
    <input name="nickname">
    <label>Make</label>
    <input name="make">
    <input type="submit"></input>
  </form>
</div>
<%- include('footer') -%>