<%- include('header') -%>

<link rel='stylesheet' href='stylesheets/new_vehicle.css'/>

<div id="container">
  <div id="content">
    <form action="/vehicles" method="POST">
      <div class='field-unit'>
        <label>License Plate</label>
        <input name="license_plate">
      </div>
      <div class='field-unit'>
        <label>Nickname</label>
        <input name="nickname">
      </div>
      <div class='field-unit'>
        <label>Make/Brand</label>
        <input name="make">
      </div>
      <input id='submit-button' type="submit">
    </form>
  </div>
</div>

<%- include('footer') -%>