<%- include('header') -%>

<link rel='stylesheet' href='stylesheets/register.css'/>

<div id='container'>
  <div id='content'>
    
    <form action='/auth/register' method="POST">
      <div class='field-unit'>
        <label>First Name:</label>
        <input type="text" name="first_name">
      </div>
      <div class='field-unit'>
        <label>Last Name:</label>
        <input type="text" name="last_name">
      </div>
      <div class='field-unit'>
        <label>Email:</label>
        <input type="email" name="email">
      </div>
      <div class='field-unit'>
        <label>Password:</label>
        <input type="password" name="password">
      </div>  
        <input id='submit' type="submit" value="Create Account">
    </form>
  </div>
</div>

<%- include('footer') -%>
