<%- include('header') -%>

<form action='/auth/register' method="POST">
  <label>Email: </label>
  <input type="email" name="email">
  <br>
  <label>Password: </label>
  <input type="password" name="password">
  <input type="submit">
</form>

<%- include('footer') -%>
