@import 'vars';
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Karla:400,700');

/* Destop version */
@media only screen and (min-width: 450px) {
  .heading {
    font-size: 14px;
    margin: 0px;
    padding: 10px;
  }

  #container {
    font-family: 'montserrat';
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: auto;
    @include allbg();
    padding-top: 50px;
    padding-bottom: 40px;
  }

  #content {
    background-color: white;
    width: 800px;
    height: 820px;
    margin: 0 auto;
    padding: 0px;
    @include diffuseshadow();
  }

  #outline {
    width: 100%;
    height: 65%;
    margin: 0 auto;
    padding: 0px;
    text-align: center;
  }

  //boxes
  .boxes {
    @include diffusecomponent();
    padding: 10px;
    margin: 10px 0px 10px 0px;
  }

  .subhead {
    display: inline-block;
  }

  .links {
    text-align: left;
  }

  .links:hover {
    text-decoration: underline;
  }

  .dropdown {
    margin: 15px;
    display: block;
    width: 300px;
    margin-top: 15px;
    margin-bottom: 0px;
    @include dropdown();

  }

  .dropdown-opt {
    min-width: 100px;
    display: block;
  }

  #left-div {
    float: left;
    width: 50%;
    height: 100%;
    margin: 0px;
    padding: 15px;
  }

  #vehicle-box {
    height: 28%;
    width: 100%;
    float: top;
  }

  #card-box {
    height: 28%;
    width: 100%;
    float: bottom;
  }

  #current-lot {
    margin-bottom: 0px;
  }

  #right-div {
    float: right;
    width: 50%;
    height: 100%;
    margin: 0px;
    padding: 15px;
    border-left-style: solid;
    border-left-width: 0.3px;
    border-left-color: rgba(44, 56, 110, 0.4);
  }

  #lot-validation {
    margin: 10px;
    padding: 10px;
    @include gentleoutline();
  }

  #time-calc {
    height: auto;
    width: 100%;
    float: top;
    display: block;
  }

  #rate-type {
    height: 100px;
    width: 100%;
    float: top;
    display: block;
  }

  #parking-time {
    text-align: center;
  }

  #payment {
    height: 150px;
    width: 100%;
    float: top;
    display: block;
    background-color: $select-bg;
    box-shadow: none;
  }

  #pay-button {
    background-color: $navbar-title-1;
    width: 100%;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 0px 20px 0px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  #pay-button:hover {
    background-color:$navbar-title-2;
  }

  #pay-button:active {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }

  //map
  #mapid { 
    height: 35%; 
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
}

/* Mobile responsive */
@media only screen and (max-width: 414px) {
  .heading {
    font-size: 12px;
    margin: 0px;
    padding: 10px;
  }

  #container {
    font-family: 'montserrat';
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    @include allbg();
  }

  #content {
    background-color: white;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    padding: 0px;
  }

  #outline {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0px;
    text-align: center;
  }

  //boxes
  .boxes {
    @include diffusecomponent();
    padding: 15px;
    margin: 10px 0px 10px 0px;
    text-align: center;
  }

  .subhead {
    display: inline-block;
  }

  .links {
    text-align: left;
  }

  .dropdown {
    margin: 15px;
    display: block;
    width: 300px;
    margin: 0 auto;
    margin-top: 20px;
    @include dropdown();
  }

  .dropdown-opt {
    min-width: 100px;
    display: block;
  }

  #left-div {
    float: top;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 15px;
    padding-bottom: 0px;
  }

  #vehicle-box {
    height: 22%;
    width: 100%;
    float: top;
  }

  #card-box {
    height: 22%;
    width: 100%;
    float: bottom;
  }

  #right-div {
    float: bottom;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 15px;
    padding-top: 0px;
    border-left-style: solid;
    border-left-width: 0.3px;
    border-left-color: rgba(44, 56, 110, 0.4);
  }

  #time-calc {
    height: auto;
    width: 100%;
    float: top;
    display: block;
  }

  #rate-type {
    height: 100px;
    width: 100%;
    float: top;
    display: block;
  }

  #parking-time {
    text-align: center;
  }

  #payment {
    height: 140px;
    width: 100%;
    float: top;
    display: block;
    background-color: $select-bg;
    box-shadow: none;
  }

  #pay-button, button {
    background-color: $navbar-title-1;
    width: 100%;
    border: none;
    color: white;
    padding: 15px 80px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 0px 20px 0px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  #pay-button:hover, button:hover {
    background-color:$navbar-title-2;
    color: white;
  }

  #pay-button:active {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }

  //map
  #mapid { 
    height: 35%; 
    width: 100%;
  }

  button #find-lot {
    color: white;
  }

  #lot-input, #parking-time {
    @include gentleoutline();
    margin-bottom: 10px;
  }

  #total-due {
    @include gentleoutline();
  }

  #find_lot {
    color: white;
    border-radius: 5px 5px 5px 5px;
  }
}


