@import 'vars';
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Karla:400,700');

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#container{
  height: calc(100vh - 40px);
  width: 100%;
  margin: 0 auto;
  padding: 0px;
  background: #667db6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: inset 0px 10px 10px -10px rgb(228, 228, 228), inset 0px -10px 10px -10px rgb(228, 228, 228); 
}

#content{
  text-align: center;
  height: 100%;
  padding: 190px;
}

#title {
  color: white;
  font-family: 'karla';
  font-weight: 700;
  font-size: 90pt;
  letter-spacing: 0.02em;
  margin-bottom: 0px;
}

#subtitle {
  color: white;
  font-family: 'Montserrat';
  font-weight: 100;
  font-size: 22pt;
  margin-top: 0px;
  padding-top: 0px;
}

#btn {
  padding: 14px;
  margin: 42px;
  font-family: 'Montserrat';
  background-color: rgba(255,255,255, 0.1);
  border-style: none;
  color: white;
  font-weight: 600;
}

#btn a {
  color: white;
  text-decoration: none;
}

#btn a:hover {
  color: white;
  text-decoration: none;
}

#btn:hover {
  background-color: rgba(255,255,255, 0.2);
}

#about-us {
  height: 600px;
  width: 800px;
  text-align: center;
  color: white;
  column-count: 2;
}






