@import 'vars';
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400');
@import url('https://fonts.googleapis.com/css?family=Karla:400,700');

/* Destop version */
@media only screen and (min-width: 501px) {

  #nav-bar {
    font-family: 'Montserrat';
    font-weight: 400;
    width: 100%;
    float: top;
    height: 60px;
    background-color: white;
    text-align: right;
    font-size: 12pt;
    margin: 0px;
  }

  a:hover {
    text-decoration: none;
  }

  .section {
    height: 100%;
    text-align: center;
    padding: 20px;
    padding-right: 24px;
    padding-left: 24px;
    margin: 0px;
    border-spacing: 0px;
    float: right;
  }

  #current-user {
    height: 100%;
    text-align: center;
    padding: 20px;
    padding-right: 24px;
    padding-left: 24px;
    margin: 0px;
    border-spacing: 0px;
    float: right;
    cursor: default;
    user-select: none;
  }

  // brand
  #brand {
    float: left;
    border-right-style: none;
    font-family: 'karla';
    font-weight: 700;
    font-size: 20pt;
    padding: 10px;
    padding-right: 24px;
    padding-left: 24px;
  }

  .section:hover {
    background-color: rgba(255, 255, 255, 1.0);
    border-bottom-style: solid;
    border-bottom-color: #667db6;
  }

  a {
    color: $navbar-title;
    text-decoration: none;
  }

  a:hover {
    color: $navbar-title;
    
  }
}

/* Mobile responsive */
@media only screen and (max-width: 500px) {

  #nav-bar {
    font-family: 'Montserrat';
    font-weight: 400;
    width: 100%;
    float: top;
    height: 60px;
    background-color: white;
    text-align: right;
    font-size: 12pt;
    margin: 0px;
  }

  a:hover {
    text-decoration: none;
  }

  .section {
    height: 100%;
    text-align: center;
    padding: 20px;
    padding-right: 14px;
    padding-left: 14px;
    margin: 0px;
    border-spacing: 0px;
    float: right;
  }

  #current-user {
    height: 100%;
    text-align: center;
    padding: 20px;
    padding-right: 24px;
    padding-left: 24px;
    margin: 0px;
    border-spacing: 0px;
    float: right;
    cursor: default;
    user-select: none;
  }

  // brand
  #brand {
    float: left;
    border-right-style: none;
    font-family: 'karla';
    font-weight: 700;
    font-size: 20pt;
    padding: 10px;
    padding-right: 24px;
    padding-left: 24px;
  }

  .section:hover {
    background-color: rgba(255, 255, 255, 1.0);
    border-bottom-style: solid;
    border-bottom-color: #667db6;
  }

  a {
    color: $navbar-title;
    text-decoration: none;
  }

  a:hover {
    color: $navbar-title;
    
  }
}