@import 'vars';
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Karla:400,700');

#container {
  @include allbg();
  height: 100vh;
  font-family: 'Montserrat';
  width: 100vw;
  padding-top: 50px;
}

#content-wrapper {
  width: 500px;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
}

#content {
  background-color: white;
  width: 500px;
  height: auto;
  margin: 0 auto;
  padding: 10px;
}

#title {
  color: white;
  font-size: 32pt;
 }

.card {
  border: none;
}

.total {
  cursor: default;
  user-select: none;
}

.total:hover {
  cursor: default;
  user-select: none;
}


// button styling

.submit-button {
  background-color: $lavender;
  transition: all 0.3s ease-in-out;
}

.submit-button:hover {
  background-color: $navbar-title-2;
}

.submit-button:active {
  transform: scale(0.95);
}

button, input[type=button], input[type=submit], input[type=reset]  {
  background-color: $navbar-title-1;
  border: none;
  color: white;
  padding: 10px 40px;
  margin: 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

button:hover, input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
  background-color:$navbar-title-2;
}

button:active, input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

button {
  color: white;
}

button a {
  color: white;
}

.col-md-4 {
  padding: 0px;
}