@import 'vars';
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  font-family: 'Montserrat';
  margin: 0px;
  padding: 0px;
}

#container {
  height: calc(100vh - 40px);
  @include allbg();
}

#white-space {
  background-color: white;
  width: 500px;
  height: 400px;
  margin: 0 auto;
  @include diffuseshadow();
}

#page-title {
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

.total{
  pointer-events: none;
}
// bootstrap stuff

.submit-button {
  margin-top: 10px;
}


