@import 'vars';
@import url('https://fonts.googleapis.com/css?family=Montserrat');

#container {
  font-family: 'Montserrat';
  height: 100vh;
  @include allbg();
  margin: 0 auto;
  padding-top: 200px;
}

#form-field {
  background-color: white;
  width: 600px;
  height: 300px;
  margin: 0 auto;
  padding: 35px;
}

#submit {
  text-align: right;
}






